body {
  font-family: 'Roboto Slab', serif;
  background-color: #F3f3f3;
  padding: 0px;
  margin: 0px;
}

header {
padding-top: 30px;
padding-bottom: 10px;
height: 50px;
text-align: center;
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 40px;
}

h1 {
  font-size: 100px;
  line-height: 60px;
}

h2 {
  font-size: 50px;

}
h3 {
  font-size: 20px;
}
p {
font: 15px;
}

a {
  color: #3d3d3d;
  text-decoration: none;
}

.center {
  align-content: center;
  text-align: center;
}

.galerie {
padding-left: 50px;
padding-right: 50px;
}

/*
.portfolio {
  height: auto;
  float: left;

}*/

.portfolio {
  height: auto;
  float: left;
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.portfolio:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.clear {
  clear: both;
}

.portfolio img {
  padding: 5px;
  border:1px solid #ffffff;
  margin: 10px;
}

.image {
  text-align: center;
  width: 100%;
  height: auto;
  z-index: -1;
  position: relative;
}

.textoben {
  position: relative;
  width: 100%;
}

.vertical {
  position: absolute;
  top: 150px;
  bottom: 50px;
  left: 20%;
  right: 20%;
  z-index: 2;
}

footer {
   height: 50px;
   clear:both;
   background: #ffffff;
   font-size: 10px;
   font-kerning: 1px;
   font-variant-position: sub;
   text-align: right;
   padding-top: 16px;
   padding-right: 16px;
}
