* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: #F3f3f3;
  padding: 0px;
  margin: 0px;
}

header {
padding-top: 30px;
padding-bottom: 10px;
text-align: center;
}
/*Navigation*/
nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 40px;
}

/*Text auf Headerbild*/

.textoben {
  position: relative;
  width: 100%;
}
.textoben2 {
  position: relative;
  width: 100%;
  text-decoration: #ffffff;
}

h1 {
  font-size: 100px;
  line-height: 60px;
}

h2 {
  font-size: 50px;

}
h3 {
  font-size: 30px;
}
p {
font: 15px;
}

a {
  color: #3d3d3d;
  text-decoration: none;
}

.center {
  align-content: center;
  text-align: center;
}

/*Unterseite - Portfolio*/

.galerie {
padding-left: 50px;
padding-right: 50px;
}

.portfolio {
  height: auto;
  float: left;
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.portfolio:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
  -webkit-filter:
}

.portfolio img {
  padding: 5px;
  border:1px solid #ffffff;
  margin: 10px;
}

/*Link nach oben*/

a[href^="#top"]:before {
  display: inline-block;
}

.image {
  text-align: center;
  width: 100%;
  height: auto;
  z-index: -1;
  position: relative;
}


.clear {
  clear: both;
}
/*Unterseite About*/
.aboutme {
  font-size: 15px;
  font-kerning: 3px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.kreise {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.ichbins {
  display: block;
    margin-left: auto;
    margin-right: auto }
}

.kreise {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}


.box {
  width: 33.33%;
  float: left;
  padding: 10px;

}

.vertical {
  position: absolute;
  top: 150px;
  bottom: 50px;
  left: 20%;
  right: 20%;
  z-index: 2;
}

/*Footer*/

footer {
   height: 50px;
   clear:both;
   background: #F3f3f3;
   font-size: 10px;
   font-kerning: 1px;
   font-variant-position: sub;
   text-align: right;
   padding-top: 16px;
   padding-right: 16px;
}
